---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: maven-test
  namespace: {{ ci_namespace }}
spec:
  description: "Run Maven tests and package the Quarkus app."
  workspaces:
    - name: source
  params:
    - name: goals
      type: array
      default: ["package", "-DskipITs"]
  steps:
    - name: mvn
      image: registry.access.redhat.com/ubi9/openjdk-21:1.24
      workingDir: $(workspaces.source.path)
      args: ["$(params.goals[*])"]
      command:
        - /usr/bin/mvn
