---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: pipeline-sa
  namespace: {{ ci_namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: pipeline-sa-edit
  namespace: {{ ci_namespace }}
subjects:
  - kind: ServiceAccount
    name: pipeline-sa
    namespace: {{ ci_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: edit
